<!DOCTYPE html>
<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/common.css">
　　</head>
　　<body>
		<div class="container fix">
			<div class="nav">
				<ul>
					<li>
						<a href="{{ site.baseurl }}">home</a>
					</li>
					<li>
						<a href="https://github.com/jinghuizhai">github</a>
					</li>
				</ul>
			</div>
			<div class="content">
				{{ content }}	
			</div>
			<div class="sidebar">

			</div>
		</div>
　　</body>
	<div class="footer">
		<!-- all rights dapigou.com -->
	</div>
</html>